<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <div class="container">
        <br>

        <div th:switch="${productos}">
            <h2 th:if="${productos==null} OR ${productos.isEmpty()}">No hay usuarios</h2>
            <div th:if="${!productos.isEmpty()}">
                <h2>Catalogo</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Descripcion</th>
                        <th>Precio</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="producto : ${productos}">
                        <td th:text="${producto.id_producto}"></td>
                        <td th:text="${producto.nombre}"></td>
                        <td th:text="${producto.descripcion}"></td>
                        <td th:text="${producto.precio}"></td>
                        <!--<td>
                            <a th:href="@{/save/{id}(id=${user.id})}" class="btn btn-info">Edit</a>
                            <a th:href="@{/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
                        </td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</body>
</html>